* {
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0px;
}

.navbar {
  /* position: fixed; */
  /* overflow: 'hidden';  */
  width: '100%'; 
  height: auto;
  /* z-index: 99; */
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
}

.navbar a {
  text-decoration: none;
}

.name {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.navbar li {
  margin: 0 1rem;
}
